nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(34, 34, 34);
    padding-left: 2%;
    width: 100%;
}


.app-name {
    color: rgb(10, 196, 124);
    font-size: 24px;
    font-weight: bold;
}

.app-name p {
    font-family: 'Franklin Gothic Medium';
}
